<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>

    <% if (messages.error) { %>
        <p style="color:red">
            <%- messages.error %>
        </p>
        <% } %>

            <% if (messages.success) { %>
                <p style="color:green">
                    <%- messages.success %>
                </p>
                <% } %>

                    <div class="content">
                        <div class="wrap">
                            <div class="single-page">
                                <!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
                                <div class="single-page-artical">
                                    <div class="artical-content">
                                        <img src="/images/<%= data.thumbnail %>" title="banner1">
                                        <h3>
                                            <a href="#"><%= data.title %></a>
                                        </h3>
                                        <p><%- data.description %></p>
                                    </div>
                                    <div class="artical-links">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <img src="/images/blog-icon2.png" title="Admin">
                                                    <span>admin</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img src="/images/blog-icon3.png" title="Comments">
                                                    <span>No comments</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img src="/images/blog-icon4.png" title="Lables">
                                                    <span>View posts</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="share-artical">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <img src="/images/facebooks.png" title="facebook">Facebook</a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img src="/images/twiter.png" title="Twitter">Twiiter</a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img src="/images/google+.png" title="google+">Google+</a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <img src="/images/rss.png" title="rss">Rss</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="clear"> </div>
                                </div>
                                <!---start-comments-section-->
                                <div class="comment-section">
                                    <div class="grids_of_2">
                                        <h2>Comments</h2>
                                        <div class="grid1_of_2">
                                            <div class="grid_img">
                                                <a href="">
                                                    <img src="/images/pic10.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="grid_text">
                                                <h4 class="style1 list">
                                                    <a href="#">Uku Mason</a>
                                                </h4>
                                                <h3 class="style">march 2, 2013 - 12.50 AM</h3>
                                                <p class="para top"> All the Lorem Ipsum generators on the Internet tend to repeat predefined
                                                    chunks as necessary, making this the first true generator on the Internet.
                                                    It uses a dictionary of over 200 Latin words, combined with a handful
                                                    of model sentence structures, to generate Lorem Ipsum which looks reasonable.</p>
                                                <a href="" class="btn1">Click to Reply</a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="grid1_of_2 left">
                                            <div class="grid_img">
                                                <a href="">
                                                    <img src="/images/pic10.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="grid_text">
                                                <h4 class="style1 list">
                                                    <a href="#">Designer First</a>
                                                </h4>
                                                <h3 class="style">march 3, 2013 - 4.00 PM</h3>
                                                <p class="para top"> All the Lorem Ipsum generators on the Internet tend to repeat predefined
                                                    chunks as necessary, making this the first true generator on the Internet.
                                                    It uses a dictionary of over 200 Latin words, combined with a handful
                                                    of model sentence structures, to generate Lorem Ipsum which looks reasonable.</p>
                                                <a href="" class="btn1">Click to Reply</a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="grid1_of_2">
                                            <div class="grid_img">
                                                <a href="">
                                                    <img src="/images/pic12.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="grid_text">
                                                <h4 class="style1 list">
                                                    <a href="#">Ro Kanth</a>
                                                </h4>
                                                <h3 class="style">march 2, 2013 - 12.50 AM</h3>
                                                <p class="para top"> All the Lorem Ipsum generators on the Internet tend to repeat predefined
                                                    chunks as necessary, making this the first true generator on the Internet.
                                                    It uses a dictionary of over 200 Latin words, combined with a handful
                                                    of model sentence structures, to generate Lorem Ipsum which looks reasonable.</p>
                                                <a href="" class="btn1">Click to Reply</a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <div class="artical-commentbox">
                                            <h2>Leave a Comment</h2>
                                            <div class="table-form">
                                                <form action="#" method="post" name="post_comment">
                                                    <div>
                                                        <label>Name
                                                            <span>*</span>
                                                        </label>
                                                        <input type="text" value=" ">
                                                    </div>
                                                    <div>
                                                        <label>Email
                                                            <span>*</span>
                                                        </label>
                                                        <input type="text" value=" ">
                                                    </div>
                                                    <div>
                                                        <label>Your Comment
                                                            <span>*</span>
                                                        </label>
                                                        <textarea> </textarea>
                                                    </div>
                                                </form>
                                                <input type="submit" value="submit">

                                            </div>
                                            <div class="clear"> </div>
                                        </div>
                                    </div>
                                </div>
                                <!---//End-comments-section-->
                            </div>
                        </div>

                        <!--
including footer content which is common for all pages
-->
                        <%- include ../layouts/footer.ejs %>